.board-header{
    height: 60px;
    background-color: $secondary-color;
    padding: 10px;

    .header-title{
        display: block;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
        color: $primary-text-light;
        font-size: 30px; 
        text-decoration: none;
    }
}

