.sticky-note{
    width:280px;
    height: 220px;
    background-color: $primary-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    float: left;
    margin: 10px;
    box-sizing: border-box;

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &:focus{
        outline:0;
    }
    
    &.selected{
        border: 4px solid $light-gray;
    }

    input {
        width: 100%;
        background: transparent;
        border: none;
        color: $primary-text-light;
        font-size: 18px;
        font-weight: bold;

        &::placeholder{
            color: $light-gray;
        }

        &:focus{
            outline: 0;
        }
    }

    textarea{
        position: relative;
        width:100%;
        height:80%;
        box-sizing: border-box;
        background-color: $primary-color;
        border:none;
        resize: none;
        color: $secondary-text-light;
        font-size: 15px;

        &::placeholder{
            color: $light-gray;
            font-weight: lighter;
            font-size: 14px;
            font-style: italic;
        }

        &:focus{
            outline:0;
        }
    }
}