// Texts Colors
$primary-text-dark:#212121;
$secondary-text-dark:#424242;
$primary-text-light:#FAFAFA;
$secondary-text-light:#F5F5F5;

// Colors
$primary-color: #D81b60;
$secondary-color: #A00037;
$light-gray: #EEEEEE;
$middle-gray: #9E9E9E;