@import '_variables';
@import './modules/header';
@import './modules/sticky-notes-board';
@import './modules/sticky-note';

body{
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}